<%- include('partials/_header') %>
<%- include('partials/_navbar') %>
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Courses<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9 blog-post-single">

					<!-- Flash Message for creating course -->
					<% if (flashMessages) { %>
						<% if (flashMessages.success) { %>
						  <div class="alert alert-success">
						<%= flashMessages.success %>
						</div>
					  <% } else if (flashMessages.error) { %>
					   <div class="alert alert-danger">
						<%= flashMessages.error %>
						</div>
						<% } %>
					  <% } %>

				            <div class="row"> 

								<% if (courses.length > 0) { %>
									<% courses.forEach(course => { %>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="course-item mb-5">
												<div class="image-blog">
													<img src="images/blog_1.jpg" alt="" class="img-fluid">
												</div>
												<div class="course-br">
													<div class="course-title">
														<h2><a href="/courses/<%= course.slug %>" title=""><%= course.name %></a></h2>
													</div>
													<div class="course-desc">
														<p><%= course.description.substring(0, 100) + '...' %></p>
													</div>
												</div>
												<div class="course-meta-bot">
													<ul>
														<li><i class="fa fa-user" aria-hidden="true"></i><%= course.user.name %></li>
													</ul>
												</div>
											</div>
										</div><!-- end col -->
									<% }); %>
								<% } else { %>
									<div class="container">
										<div class="row justify-content-center mt-5">
											<div class="col-md-6">
												<div class="card text-center bg-light">
													<div class="card-body">
														<h1 class="card-title text-danger">No courses available</h1>
														<p class="card-text">Sorry, there are no courses available at the moment.</p>
													</div>
												</div>
											</div>
										</div>
									</div>									

								<% } %>
				
				


                	
            </div><!-- end row -->
					
                </div><!-- end col -->
				<div class="col-lg-3 col-12 right-single">
					<div class="widget-search">
						<div class="site-search-area">
							<form method="GET" id="site-searchform" action="/courses">
								<div>
									<input class="input-text form-control" name="search" id="search" placeholder="Search..." type="text">
									<button id="searchsubmit" value="Search" type="submit"></button>
								</div>
							</form>
						</div>
					</div>
					<div class="widget-categories">
						<h3 class="widget-title">Categories</h3>
						<ul>
							<% categories.forEach(category => { %>

								<li>
									<a class="<%= category.slug === categorySlug ? 'text-warning' : '' %>" href="/courses?categories=<%= category.slug %>"><%= category.name %></a>
								</li>								
								
							<% }) %>
							
						</ul>
					</div>
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->


    <%- include('partials/_footer') %>